html{
    background-color: rgb(231, 235, 240);
}

.grid-card {
    
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
}

.btn-gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.content-file {
    /* background-color: rgb(231, 235, 240); */
    border: 1px dashed rgba(116, 117, 117, 0.637);
    border-radius: 5px;
    padding: 1em;
}

.content-file:hover{
    border: 1px dashed rgb(28, 29, 29);
}

.file-upload {
    text-align: center;
    /* background-color: rgb(231, 235, 240); */
    /* border: 3px dashed rgb(210, 227, 244); */
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
  }

.file-upload > input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

